#!/bin/bash -l
#SBATCH --job-name=!TAG!
#SBATCH --nodes=1
#SBATCH --constraint=mc
#SBATCH --time=00:15:00
#SBATCH --output=!TAG!.out
#SBATCH --error=!TAG!.err
#SBATCH --partition=cscsci

tools/scripts/test_daint_ci.sh -t !TAG! -p $partition -b $build_type -l $lapack -s $scalapack -d $dplasma -x $hpx_linalg
