#!/bin/bash -l
#SBATCH --job-name=!TAG!
#SBATCH --nodes=1
#SBATCH --constraint=mc
#SBATCH --time=00:20:00
#SBATCH --output=!TAG!.out
#SBATCH --error=!TAG!.err
#SBATCH --partition=cscsci

elpa="No"
dplasma="No"
hpx_linalg="No"

case $libraries in
  None) ;;
  ELPA) elpa="Yes" ;;
  DPlasma) dplasma="Yes" ;;
  HPXLinalg) hpx_linalg="Yes" ;;
  All) elpa="Yes" dplasma="Yes" hpx_linalg="Yes" ;;
  *) echo "Wrong library selection defaulting to `None`" ;;
esac

tools/scripts/test_daint_ci.sh -p $partition -b $build_type -l $lapack -s $scalapack -e $elpa -d $dplasma -x $hpx_linalg
